<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outer_shopping.project.mapper.OuterSizeMapper">
	<!-- 
			OuterSize 테이블 관련 mapper
			+ OuterSize 등록
			+ OuterSize 수정
			+ OuterSize 삭제
			+ OuterSize 조회
	 -->
	 
	<sql id="all-column">
		SIZE_NO, SIZE_TYPE, CHEST,	SLEEVE,	SHOULDER, WHOLE, AMOUNT, COLOR, OUTER_NO 
	</sql> 
	
	<!-- 전체 조회 sql -->
	<sql id="select-OuterSize-sql">
		SELECT SIZE_NO, SIZE_TYPE, CHEST, SLEEVE, SHOULDER, WHOLE, AMOUNT, COLOR, OUTER_NO 
		FROM OUTER_SIZE
	</sql>	
	
	 
	<resultMap id="outerSize-resultmap" type="com.outer_shopping.project.vo.OuterSizeVo">
		<id column="SIZE_NO" property="sizeNo"/>
		<result column="SIZE_TYPE" property="type"/>
		<result column="CHEST" property="chest"/>
		<result column="SLEEVE" property="sleeve"/>
		<result column="SHOULDER" property="shoulder"/>
		<result column="WHOLE" property="whole"/>
		<result column="AMOUNT" property="amount"/>
		<result column="COLOR" property="color"/>
		<result column="OUTER_NO" property="outerNo"/>
	</resultMap>
	
	
	
	<!-- 등록 SQL -->
	<insert id="insertSize" parameterType="com.outer_shopping.project.vo.OuterSizeVo">
		<selectKey resultType="int" keyProperty="sizeNo" order="BEFORE">
			select SIZE_NO.nextval from dual
		</selectKey>
		INSERT INTO OUTER_SIZE
		VALUES(
				#{sizeNo},
				#{type},
				#{chest},
				#{sleeve},
				#{shoulder},
				#{whole},
				#{amount},
				#{color},
				#{outerNo}
			   )
	</insert>
	
	
	<!-- 사이즈 삭제 SQL -->
	<delete id="deleteOuterSize" parameterType="int">
		DELETE FROM OUTER_SIZE WHERE OUTER_NO = #{outerNo}
	</delete>
	
	<!-- 상품 사이즈 중복제거  확인 SQL -->	 	
	<select id="selectSize" parameterType="int" resultType="java.util.HashMap">
		SELECT DISTINCT SIZE_TYPE AS "size", CHEST AS "chest", SLEEVE "sleeve", SHOULDER as "shoulder", WHOLE as "whole"
		FROM OUTER_SIZE
		WHERE OUTER_NO = #{outerNo}
	</select>
	
	
	<!-- 상품 목록 확인 SQL -->	 	
	<select id="selectSizeProductCheck" parameterType="int" resultMap="outerSize-resultmap">
		<include refid="select-OuterSize-sql"/>
		WHERE OUTER_NO = #{outerNo}
	</select>	
	

	<!-- 상품 사이즈 목록 확인 SQL -->	 	
	<select id="selectSizeColorCheck" parameterType="hashmap" resultMap="outerSize-resultmap">
		<include refid="select-OuterSize-sql"/>
		WHERE OUTER_NO = #{outerNo}
		AND SIZE_TYPE = #{type}
	</select>
	
	
	<!-- 주문 취소 증가 처리 -->
    <update id="outerSizeAmountPlusCnt" parameterType="hashmap">
        UPDATE OUTER_SIZE 
        SET AMOUNT = AMOUNT + 1 
        WHERE OUTER_NO = #{outerNo}
        AND SIZE_TYPE = #{type}
        AND COLOR = #{color}
    </update>
    
 	<!-- 주문 완료 감소 처리 -->
    <update id="outerSizeAmountMinusCnt" parameterType="hashmap">
        UPDATE OUTER_SIZE 
        SET AMOUNT = AMOUNT - 1 
        WHERE OUTER_NO = #{outerNo}
        AND SIZE_TYPE = #{type}
        AND COLOR = #{color}
    </update>   
    
	
</mapper>